@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");
@import url("../blocks/popup.css");

/* ====== ERROS ====== */
.popup__input-error {
  display: none;
  font-size: 12px;
  color: red;
}

.popup__input_type_error {
  border-color: red;
  border-bottom-width: 2px;
}

.popup__input-error_active {
  display: block;
  color: red;
  font-size: 12px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
